In [54]:
import pandas as pd
import numpy as np
data=["tim","kate","SuSan",np.nan,"aLEX"]
name=pd.Series(data)
#name.str.capitalize()
#name.str.lower()
#name.str.len()
#name.str.startswith("a")

0    False
1    False
2    False
3      NaN
4     True
dtype: object

In [73]:
import pandas as pd
import numpy as np
data=["tim","kate","SuSan",np.nan,"aLEX"]
name=pd.Series(data)
name.str.capitalize()

0      Tim
1     Kate
2    Susan
3      NaN
4     Alex
dtype: object

In [90]:
import pandas as pd
import numpy as np
data=["tim","kate","SuSan",np.nan,"aLEX"]
name=pd.Series(data)
name.str.lower()

0      tim
1     kate
2    susan
3      NaN
4     alex
dtype: object

In [91]:
import pandas as pd
import numpy as np
data=["tim","kate","SuSan",np.nan,"aLEX"]
name=pd.Series(data)
name.str.len()
#name.str.startswith("a")

0    3.0
1    4.0
2    5.0
3    NaN
4    4.0
dtype: float64

In [92]:
import pandas as pd
import numpy as np
data=["tim","kate","SuSan",np.nan,"aLEX"]
name=pd.Series(data)
name.str.startswith("a")

0    False
1    False
2    False
3      NaN
4     True
dtype: object

In [57]:
df=pd.DataFrame(
    np.random.randn(3,2),
    columns=["COLUMN A","COLUMN B"],
    index=range(3))
df

   COLUMN A  COLUMN B
0 -1.306566 -0.063200
1 -0.038471 -0.258086
2 -0.721565 -0.666169

In [96]:
df.columns
#Index(['COLUMN A','COLUMN B'],dtype='object')
df.columns.str.lower().str.replace("","_")
#Index(['column_a', 'column_b'], dtype='object')
s=pd.Series(["a_b_c","c_d_e",np.nan,"f_g_h"])
s

0    a_b_c
1    c_d_e
2      NaN
3    f_g_h
dtype: object

In [68]:
money=pd.Series(["15","-$20","$250"])
money

0      15
1    -$20
2    $250
dtype: object

In [74]:
money=pd.Series(["15","-$20","$250"])
money
#money.str.replace("-\$","")

0      15
1    -$20
2    $250
dtype: object

In [83]:
film=pd.read_csv("http://bit.ly/imdbratings")
film.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [84]:
film=pd.read_csv("http://bit.ly/imdbratings")

film.title.str.upper()

0                             THE SHAWSHANK REDEMPTION
1                                        THE GODFATHER
2                               THE GODFATHER: PART II
3                                      THE DARK KNIGHT
4                                         PULP FICTION
                            ...
974                                            TOOTSIE
975                        BACK TO THE FUTURE PART III
976    MASTER AND COMMANDER: THE FAR SIDE OF THE WORLD
977                                        POLTERGEIST
978                                        WALL STREET
Name: title, Length: 979, dtype: object

In [85]:
film=pd.read_csv("http://bit.ly/imdbratings")

film.columns=film.columns.str.capitalize()
film.head()

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [86]:
film=pd.read_csv("http://bit.ly/imdbratings")

film[film.actors_list.str.contains
    ("Brad Pitt")]

,star_rating,title,content_rating,genre,duration,actors_list
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
106,8.3,Snatch.,R,Comedy,102,"[u'Jason Statham', u'Brad Pitt', u'Benicio Del..."
114,8.3,Inglourious Basterds,R,Adventure,153,"[u'Brad Pitt', u'Diane Kruger', u'Eli Roth']"
264,8.1,Twelve Monkeys,R,Mystery,129,"[u'Bruce Willis', u'Madeleine Stowe', u'Brad P..."
508,7.8,The Curious Case of Benjamin Button,PG-13,Drama,166,"[u'Brad Pitt', u'Cate Blanchett', u'Tilda Swin..."
577,7.8,Ocean's Eleven,PG-13,Crime,116,"[u'George Clooney', u'Brad Pitt', u'Julia Robe..."
683,7.7,Fury,R,Action,134,"[u'Brad Pitt', u'Shia LaBeouf', u'Logan Lerman']"
776,7.6,Moneyball,PG-13,Biography,133,"[u'Brad Pitt', u'Robin Wright', u'Jonah Hill']"
779,7.6,Interview with the Vampire: The Vampire Chroni...,R,Horror,123,"[u'Brad Pitt', u'Tom Cruise', u'Antonio Bander..."
807,7.6,The Assassination of Jesse James by the Coward...,R,Biography,160,"[u'Brad Pitt', u'Casey Affleck', u'Sam Shepard']"
826,7.5,Sleepers,R,Crime,147,"[u'Robert De Niro', u'Kevin Bacon', u'Brad Pitt']"
877,7.5,Legends of the Fall,R,Drama,133,"[u'Brad Pitt', u'Anthony Hopkins', u'Aidan Qui..."
901,7.5,Babel,R,Drama,143,"[u'Brad Pitt', u'Cate Blanchett', u'Gael Garc\..."

In [89]:
film=pd.read_csv("http://bit.ly/imdbratings")

film.actors_list.str.replace("[","")

/tmp/ipykernel_8987/276137447.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  film.actors_list.str.replace("[","")

0      u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton']
1         u'Marlon Brando', u'Al Pacino', u'James Caan']
2      u'Al Pacino', u'Robert De Niro', u'Robert Duva...
3      u'Christian Bale', u'Heath Ledger', u'Aaron Ec...
4      u'John Travolta', u'Uma Thurman', u'Samuel L. ...
                             ...
974    u'Dustin Hoffman', u'Jessica Lange', u'Teri Ga...
975    u'Michael J. Fox', u'Christopher Lloyd', u'Mar...
976    u'Russell Crowe', u'Paul Bettany', u'Billy Boyd']
977    u'JoBeth Williams', u"Heather O'Rourke", u'Cra...
978    u'Charlie Sheen', u'Michael Douglas', u'Tamara...
Name: actors_list, Length: 979, dtype: object