In [5]:
import pandas as pd
df=pd.read_csv(
    "Data/imdb_clean.csv"
)
#df_cleaned=df.drop_duplicates()
df_cleaned = df.drop_duplicates(subset=["title", "director", "release_year"])
df_cleaned.head()

,Unnamed: 0,title,director,release_year,runtime,genre,rating,metascore,gross(M)
0,0,The Shawshank Redemption,Frank Darabont,1994,142,Drama,9.3,82,28.34
1,1,The Godfather,Francis Ford Coppola,1972,175,Crime,9.2,100,134.97
3,2,The Dark Knight,Christopher Nolan,2008,152,Action,9.0,84,534.86
6,3,Schindler's List,Steven Spielberg,1993,195,Biography,9.0,95,96.90
9,4,12 Angry Men,Sidney Lumet,1957,96,Crime,9.0,97,4.36